.img-1 {
    width: 200px;
    height: 200px;
    position: relative;
    top: 50px;
    left: 100px;
    margin-bottom: 60px;
}

.img-2 {
    width: 200px;
    height: 200px;
    position: absolute;
    right: 10px;
    top: 15px;
}

.img-3 {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0;
    
}

a {
    position: fixed;
    bottom: 0;
    right: 0;
}