<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="./float.css">
</head>
<body>
   
  <div class="container">

    <div class="navigation">
        <nav>
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Contact</li>
                <li>Blog</li>
            </ul>
        </nav>
    </div>

    <div class="image">
        <img src="./-web-html5-css3.jpg">
    </div>

    <div class="block1">
        <div class="red">300 X 200</div>
        <div class="blue">300 X 200</div>
        <div class="info">
            <p class="p-info">Rebuilding slack.com</p>
            <hr/>
            <p class="p-info">Zašto bootcamp format?</p>
            <hr/>
            <p class="p-info">React-prozor u svet web aplikacija</p>
            <hr/>
            <p class="p-info">Najvece zablude o programerima u Srbiji</p>
            <hr/>
        </div>
    </div>

    <div class="lorem">
        <div class="ipsum">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore molestias, neque ducimus molestiae quod laudantium cumque voluptatum libero non commodi placeat illo quas assumenda expedita perferendis harum fugiat autem? Atque!</p>
        </div>
        <div class="ipsum">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore molestias, neque ducimus molestiae quod laudantium cumque voluptatum libero non commodi placeat illo quas assumenda expedita perferendis harum fugiat autem? Atque!</p>
        </div>
    </div>

    <div class="block2">
        <div class="yellow">300 X 200</div>
        <div class="green">300 X 200</div>
        <div class="red">300 X 200</div>
    </div>

    <div class="lorem2">
        <div class="ipsum">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore molestias, neque ducimus molestiae quod laudantium cumque voluptatum libero non commodi placeat illo quas assumenda expedita perferendis harum fugiat autem? Atque!</p>
        </div>
        <div class="ipsum">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore molestias, neque ducimus molestiae quod laudantium cumque voluptatum libero non commodi placeat illo quas assumenda expedita perferendis harum fugiat autem? Atque!</p>
        </div>
        <div class="ipsum">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore molestias, neque ducimus molestiae quod laudantium cumque voluptatum libero non commodi placeat illo quas assumenda expedita perferendis harum fugiat autem? Atque!</p>
        </div>
    </div>

    <div class="block2">
        <div class="blue">300 X 200</div>
        <div class="yellow">300 X 200</div>
        <div class="green">300 X 200</div>
    </div>

    <div class="lorem2">
        <div class="ipsum">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore molestias, neque ducimus molestiae quod laudantium cumque voluptatum libero non commodi placeat illo quas assumenda expedita perferendis harum fugiat autem? Atque!</p>
        </div>
        <div class="ipsum">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore molestias, neque ducimus molestiae quod laudantium cumque voluptatum libero non commodi placeat illo quas assumenda expedita perferendis harum fugiat autem? Atque!</p>
        </div>
        <div class="ipsum">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore molestias, neque ducimus molestiae quod laudantium cumque voluptatum libero non commodi placeat illo quas assumenda expedita perferendis harum fugiat autem? Atque!</p>
        </div>
    </div>



  </div>
  <footer>
    <span>© BitStudent</span>
</footer>
</body>
</html>