body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: brown;
    width: 960px;
    position: relative;
    left: 25%;
}

li {
    float: right;
}

li  {
    display: block;
    padding: 10px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-style: normal;
}

img {
    width: 960px;
    position: relative;
    left: 25%;
}

.container-1 {
   /* width: 960px;*/
    padding: 10px;
    display: flex;
    gap: 1rem;
    position: relative;
    left: 25%;
}

.box-1 {
    width: 300px;
    height: 200px;
    background-color:  rgb(170, 9, 9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box-2 {
    width: 300px;
    height: 200px;
    background-color: rgb(6, 6, 36) ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box-3 {
    width: 294px;
    height: 260px;
    background-color: rgb(255, 145, 0);
    color: black;
    padding-top: 5px;
    position: relative;
    bottom: 220px;
    left: 60%;
    padding-left: 5px;
    text-align: left;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box-3 hr {
    color: black;
    width: 290px;
}

.container-2 {
    padding: 5px;
    display: flex;
    gap: 1rem;
    position: relative;
    left: 25%;
    bottom: 270px;
    
}

.box-4 {
    width: 300px;
}

/*.box-5 {
    width: 300px;
}*/

.container-3 {
    display: flex;
    position: relative;
    left: 25%;
    bottom: 265px;
    padding: 10px;
    gap: 1rem;

}

.box-6 {
    width: 300px;
    height: 200px;
    background-color: rgb(255, 145, 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
}

.box-7 {
    width: 300px;
    height: 200px;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
}

.box-8 {
    width: 300px;
    height: 200px;
    background-color: rgb(187, 14, 14);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
}  

.container-4 {
    display: flex;
    gap: 1rem;
    width: 960px;
    padding: 5px;
    position: relative;
    left: 25%;
    bottom: 270px;
}

.container-5 {
    display: flex;
    gap: 1rem;
    width: 960px;
    padding: 5px;
    position: relative;
    left: 25%;
    bottom: 270px;
}


.box-9 {
    width: 300px;
    height: 200px;
    background-color:  rgb(6, 6, 36);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
}

.box-10 {
    background-color:  rgb(6, 6, 36);
    color: white;
    width: 1400px;
    padding: 1px;
    position: relative;
    left: 15%;
    bottom: 250px;
}

.box-10 p {
    position: relative;
    left: 14%;
}