<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./float.css">
    <title>Float</title>
</head>
<body>
      <ul>
        <li>Blog</a></li>
        <li>Contact</a></li>
        <li>About</a></li>
        <li>Home</li>
      </ul>
  <img src="./-web-html5-css3.jpg" alt="">  

<div class="container-1"><!-- Opcija display flex. Zavrsi sve divove u kontejneru pa onda zadaj property display flex da vidis kako se ponasaju-->
    <div class="box-1">300 x 200</div>
    <div class="box-2">300 x 200</div>
</div>
<div class="box-3">
   <p>Rebuilding slack.com.</p>
   <hr/>
   <p>Zašto bootcamp format?
    <hr>
    React-prozor u svet web aplikacija
    <hr>
    <p>Najvece zablude o programerima u Srbiji</p>
    <hr>
   </p> 
</div>
<div class="container-2">
    <div class="box-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae totam odit, fuga debitis expedita vero eum ratione sit doloribus maxime dolorum laborum eveniet illo dicta, tenetur incidunt iusto quae? Doloribus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi architecto explicabo aliquam, deleniti harum sed delectus, atque non, laboriosam nisi inventore eligendi ullam facere aliquid assumenda repudiandae autem nulla voluptate.</div>
    <div class="box-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui voluptatem nostrum, provident alias sunt totam, doloremque deserunt exercitationem aut error laudantium assumenda pariatur. Quibusdam, hic consectetur culpa incidunt obcaecati reiciendis. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum consequuntur, ipsa magnam omnis ad dicta nostrum quia temporibus quis accusantium officiis ea, adipisci quam aspernatur, fugit illum repudiandae vitae architecto.</div>
</div>
<div class="container-3">
    <div class="box-6">300 x 200</div>
    <div class="box-7">300 x 200</div>
    <div class="box-8">300 x 200</div>
</div>

<div class="container-4">
    <div class="box-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus facere fugiat natus incidunt nesciunt eos itaque amet possimus, deserunt hic voluptate soluta tenetur saepe eligendi recusandae deleniti? Illum, harum quos. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam dolorum, animi voluptatum dolore dignissimos quos architecto, suscipit voluptates, dicta commodi veritatis quae eligendi accusantium doloribus dolorem eveniet deleniti explicabo hic.</div>
    <div class="box-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti illo facilis, ad odio amet nobis ipsum voluptatem tempora ipsa cupiditate asperiores in dolorum laborum veritatis rerum nesciunt sit, velit voluptas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ducimus quia molestiae doloribus doloremque mollitia deserunt facere veritatis sed laboriosam, ut harum natus distinctio adipisci. Voluptatem amet illo maxime quos!</div>
    <div class="box-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, rem quaerat! Incidunt, vel? Reiciendis ad dignissimos distinctio. Fugiat excepturi ducimus facere incidunt ex deserunt iste soluta architecto quis non. Ea? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus nostrum sint laborum eius nam? Rerum similique aliquid voluptates. Quia facere recusandae tempore autem ipsum quaerat reprehenderit! Ipsam laudantium dolores ad.</div>
</div>

<div class="container-5">
    <div class="box-9">300 x 200</div>
    <div class="box-6">300 x 200</div>
    <div class="box-7">300 x 200</div>
</div>

<div class="container-4">
    <div class="box-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus facere fugiat natus incidunt nesciunt eos itaque amet possimus, deserunt hic voluptate soluta tenetur saepe eligendi recusandae deleniti? Illum, harum quos. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam dolorum, animi voluptatum dolore dignissimos quos architecto, suscipit voluptates, dicta commodi veritatis quae eligendi accusantium doloribus dolorem eveniet deleniti explicabo hic.</div>
    <div class="box-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti illo facilis, ad odio amet nobis ipsum voluptatem tempora ipsa cupiditate asperiores in dolorum laborum veritatis rerum nesciunt sit, velit voluptas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ducimus quia molestiae doloribus doloremque mollitia deserunt facere veritatis sed laboriosam, ut harum natus distinctio adipisci. Voluptatem amet illo maxime quos!</div>
    <div class="box-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, rem quaerat! Incidunt, vel? Reiciendis ad dignissimos distinctio. Fugiat excepturi ducimus facere incidunt ex deserunt iste soluta architecto quis non. Ea? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus nostrum sint laborum eius nam? Rerum similique aliquid voluptates. Quia facere recusandae tempore autem ipsum quaerat reprehenderit! Ipsam laudantium dolores ad.</div>
</div>

<div class="box-10">
<p>&copy;BitStudent</p>
</div>
</body>
</html>